<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">hello</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/camera.png|}" />
    </head>
    <!--<body>-->
        <!--<p th:text="#{email.activation.greeting(${user.login})}">-->
            <!--Dear-->
        <!--</p>-->
        <!--<p th:text="#{email.activation.text1}">-->
            <!--Your JHipster account has been created, please click on the URL below to activate it:-->
        <!--</p>-->
        <!--<p>-->
            <!--<a th:href="@{|${baseUrl}/#/activate?key=${user.activationKey}|}"-->
               <!--th:text="@{|${baseUrl}/#/activate?key=${user.activationKey}|}">Activation Link</a>-->
        <!--</p>-->
        <!--<p>-->
            <!--<span th:text="#{email.activation.text2}">Regards, </span>-->
            <!--<br/>-->
            <!--<em th:text="#{email.signature}">JHipster.</em>-->
        <!--</p>-->
    <!--</body>-->
    <body tabindex="0" role="listitem">




    <table style="-webkit-font-smoothing: antialiased;font-family:'微软雅黑', 'Helvetica Neue', sans-serif, SimHei;padding:35px 50px;margin: 25px auto; background:rgb(247,246, 242); border-radius:5px" border="0" cellspacing="0" cellpadding="0" width="640" align="center">
        <tbody>
        <tr>
            <td style="color:#000;padding:0 17px;"><img style="vertical-align: bottom;" width="40px" height="31px" th:src="@{|${baseUrl}/content/images/camera_57px.png|}" alt="Raw" />
                <span style="color: rgba(128, 128, 128, 0.38);font-size: 11px;">Raw摄影社区</span>
            </td>
        </tr>
        <tr>
            <td style="padding:0 20px">
                <hr style="border:none;border-top:1px solid #ccc;"></hr>
            </td>
        </tr>
        <tr>
            <td style="padding: 10px 20px 10px 20px;">
                Hi <span th:text="${user.login}"></span>,
            </td>
        </tr>
        <tr>
            <td valign="middle" style="line-height:24px;padding: 15px 20px;font-size: 15px;">
                感谢您注册Raw摄影社区，请点击以下链接激活你的账户：
            </td>
        </tr>
        <tr>
            <td style="height: 50px;color: white;" valign="middle">
                <div style="padding:10px 20px;border-radius:5px;background: rgb(64, 69, 77);margin-left:20px;margin-right:20px">
                    <a style="word-break:break-all;line-height:23px;color:white;font-size:15px;text-decoration:none;" th:href="@{|${baseUrl}/#/activate?key=${user.activationKey}|}"
                    th:text="@{|${baseUrl}/#/activate?key=${user.activationKey}|}"></a>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding: 0px 20px 20px 20px;font-size:14px;color:rgba(128, 128, 128, 0.38)">
                <p style="margin: 5px 0;">请在一天内激活账户，过期账户需要重新注册</p>
                <p style="margin: 4px 0;">如果点击下面的链接无效，请尝试将链接复制到浏览器地址栏访问。</p>
                <p style="margin: 4px 0;">请勿回复此邮件，如果有疑问，请联系我们：<a style="color:#5083c0;text-decoration:none" href="mailto:support@coding.net">support@coding.net</a>
                </p>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px 20px 20px 20px">
                - Raw摄影团队
            </td>
        </tr>
        <tr>
            <td style="padding:0 20px;">
                <hr style="border:none;border-top:1px solid #ccc;"></hr>
            </td>
        </tr>
        <tr>
            <td style="padding:0 20px;font-size:9pt; color:#b5b0b0">
                <span style="float:left;">如果你没有注册过 Raw，请忽略此邮件。</span>
                <span style="float:right;">获取帮助：<a style="color:#b5b0b0" href="https://coding.net/help" target="_blank">https://coding.net/help</a></span>
            </td>
        </tr>
        </tbody>
    </table>

    <style type="text/css">
        body{font-size:14px;font-family:arial,verdana,sans-serif;line-height:1.666;padding:0;margin:0;overflow:auto;white-space:normal;word-wrap:break-word;min-height:100px}
        td, input, button, select, body{font-family:Helvetica, 'Microsoft Yahei', verdana}
        pre {white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;width:95%}
        th,td{font-family:arial,verdana,sans-serif;line-height:1.666}
        img{ border:0}
        header,footer,section,aside,article,nav,hgroup,figure,figcaption{display:block}
        blockquote{margin-right:0px}
    </style>

    <style id="ntes_link_color" type="text/css">a,td a{color:#064977}</style>

    </body>
</html>
