<div class="main-zone">
    <web-upload files="vm.photo.uploadFiles"
                options="{server:'api/file/upload/chunk', accept: {extensions: 'gif,jpg,jpeg,bmp,png'}}"></web-upload>
</div>
<div class="aside-zone">
    <form class="post-form"  method="POST">
        <input type="hidden" name="type" value="multi-photo">
        <label>标题</label>
        <input type="text" ng-model="vm.photo.title" class="m-input" name="title" value="" autofocus="" autocomplete="off">
        <label>作品描述</label>
        <textarea class="m-input" name="content" ng-modal="vm.photo.description" placeholder="说说你的拍摄经历..."></textarea>
        <div class="widget-taginput">
            <label>标签<em>（输入标签内容回车即可添加标签）</em></label>
            <span class="tags-count">0/10</span>

            <div class="tags-wrap m-input">
                <input type="text" class="tag-input">
            </div>
            <label>常用标签</label>
            <div class="tags-mine">
                <a class="tag-item">人像</a>
                <a class="tag-item">风光</a>
                <a class="tag-item">色彩</a>
                <a class="tag-item">纪实</a>
                <a class="tag-item">城市</a>
                <a class="tag-item">旅行</a>
                <a class="tag-item">街拍</a>
                <a class="tag-item">建筑</a>
                <a class="tag-item">烟花</a>
                <a class="tag-item">桥梁</a>
                <a class="tag-item">旋梯</a>
                <a class="tag-item">城堡</a>
                <a class="tag-item">车站</a>
                <a class="tag-item">塔</a>
                <a class="tag-item">帆船</a>
                <a class="tag-item">许愿池</a>
                <a class="tag-item">鸟群</a>
            </div>
        </div>
        <input type="submit" class="publish-btn" value="发布" ng-click="vm.publish()">
    </form>
</div>
