<div class="widget-dialog" id="login-dialog" style="z-index: 5; display: block;">
    <div class="dialog-wrapper" style="width: 420px; padding-bottom: 40px;">

        <div class="dialog-body">
            <div class="login-dialog-content login">
                <div class="group login">
                    <form class="dialog-form login-form" action="/rest/accounts/login" method="post">
                        <div class="dialog-title">
                            <h3 class="fl"> 登录 </h3>
                            <span class="login-tips fr" style="height:20px;">
					还没有账号，
					<a class="switch-type" data-type="login"> 立即注册 </a>
				</span>
                        </div>

                        <div class="form-group">
                            <input type="text" name="account" autofocus="" required="" placeholder="手机号\邮箱\用户名">
                        </div>

                        <div class="form-group">
                            <input type="password" name="password" required="" placeholder="输入密码">
                            <a href="//tuchong.com/account/forget/" target="_blank" class="input-tips forget-password">忘记密码？</a>
                        </div>

                        <div class="form-group login-captcha">
                            <input type="text" name="captcha_token" data-captchaid="" placeholder="验证码">
                            <img class="captcha-img input-tips" src="">
                        </div>

                        <div class="form-group form-msg">
                        </div>

                        <div class="form-group text-center">
                            <button class="submit-btn" href="javascript:;" type="submit">
                                登录
                            </button>
                        </div>

                        <div class="login-connect">
                            <a href="//tuchong.com/qq/auth/" class="login-qq"></a>
                            <a href="//tuchong.com/weixin/auth/" class="login-weixin"></a>
                            <a href="//tuchong.com/weibo/auth/" class="login-weibo"></a>
                        </div>
                    </form>
                </div>

                <div class="group register">
                    <form class="dialog-form register-form" action="/rest/accounts/login" method="post">
                        <div class="dialog-title">
                            <h3 class="fl"> 注册图虫 </h3>
                            <span class="login-tips fr">
					已有账号，
					<a href="javascript:;" class="switch-type" data-type="register"> 立即登录 </a>
				</span>
                        </div>

                        <div class="form-group">
                            <input type="text" name="mobile_number" class="J-mobile-input" data-invalid="true"
                                   required="" placeholder="手机号码">
                            <span class="input-tips warning">
					请输入正确的手机号码
				</span>
                        </div>

                        <div class="form-group register-captcha">
                            <input type="text" name="captcha_token" data-captchaid="" placeholder="验证码">
                            <img class="captcha-img input-tips"
                                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHgAAAAoCAMAAAACNM4XAAAAP1BMVEUAAABUCVaIPYqqX6zwpfKANYKIPYrLgM1rIG1NAk/roO1wJXJvJHHPhNHQhdKqX6zkmebRhtO3bLnEecatYq8CYSRKAAAAAXRSTlMAQObYZgAAAXVJREFUeJzslu+uhSAIwKHaKjt9aL7/u97dYxkKGpz15+7u8KGZAj9QUeErf12ap7jNY+RPDfHcOPRcfIz8EPdfyXA1oLA9huFiMq7CyddyHRK5FpVynVtxgXtfBA4EbmDnU6EIqbMHEFwSRg7WLEfXmcm4gcHHOCJlBcPxEWnPODr03qeodchjpkiNzTgK3lo+/YUwvSEeYGVPZ1+5KRuZy32kGSeqNbMil1793EHeRsYtQI7ZzVBUxjJ433BEvzex97OYKwqzGTc1bt+d2/e58zq5GGG6wrHvzZNKmXGLN8+BEt9aQLKFSeGTTUsQX8LwjmTwnfQ06chCSntRimAQE46nOUyjFswW29ewIK/w3jGOFrL+rktXeBGyNnCDlRZMucuCckxH0iYuNZZIKwgWamvhtm3Jb40d1LKysj1MfrkzY+eNPLJzHj/znJMhfd5A/BjTYn6N4wif3eZCRjfJPdyX1cCdxH0Zyc6dRa6O/gQAAP//bx8FGaYY8HEAAAAASUVORK5CYII=">
                        </div>

                        <div class="form-group">
                            <input type="text" name="sms_captcha" required="" placeholder="手机验证码">
                            <a href="javascript:;" class="input-tips sms-captcha J-send-captcha">
                                获取验证码
                            </a>
                        </div>

                        <div class="form-group">
                            <input type="password" name="user_password" required="" placeholder="密码6-16位，区分大小写">
                            <span class="input-tips warning">
					账号或者密码错误
				</span>
                        </div>

                        <div class="form-group form-msg">
                        </div>

                        <div class="login-line">
                            <button class="submit-btn" href="javascript:;" type="submit">
                                注册
                            </button>
                        </div>

                        <div class="login-connect">
                            <a href="//tuchong.com/qq/auth/" class="login-qq"></a>
                            <a href="//tuchong.com/weixin/auth/" class="login-weixin"></a>
                            <a href="//tuchong.com/weibo/auth/" class="login-weibo"></a>
                        </div>

                        <div class="register-tips">
                            「注册」即代表你已经认真阅读并同意接受
                            <a href="//tuchong.com/info/terms/" target="_blank">用户协议</a>
                        </div>
                    </form>
                </div>

                <div class="group user">
                    <div class="dialog-form user-content">
                        <div class="dialog-title">
                            <h3 class="fl"> Hi,欢迎加入图虫 </h3>
                        </div>

                        <div class="form-group">
                            <form class="J-logoForm logo-form text-center" method="patch" enctype="multipart/form-data"
                                  action="">
                                <input type="hidden" name="nonce" value="">
                                <input type="hidden" name="site_id" value="">
                                <input type="hidden" name="MAX_FILE_SIZE" value="4194304">
                                <label class="logo-label">
                                    <img class="logo-img" src="">
                                    <span href="javascript:;" class="logo-tips">
							设置头像
						</span>
                                    <input name="logo" accept="image/*" type="file" class="logo-file J-logo-file">
                                </label>
                            </form>
                        </div>

                        <div class="form-group">
                            <input type="text" name="user_name" required="" placeholder="输入昵称, 不超过10个汉字或20个英文字符">
                            <p class="warning">
                                昵称不能为空，且不能超过10个汉字或20个英文字符
                            </p>
                        </div>

                        <div class="form-group form-msg">
                        </div>

                        <div class="login-line">
                            <button class="submit-btn" href="javascript:;" type="submit" disabled="">
                                完成
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="dialog-close icon-close" ng-click="vm.cancel()"></a>
    </div>
</div>
