<div class="widget-dialog" id="login-dialog" style="z-index: 5; display: block;">
    <div class="dialog-wrapper">
        <div class="dialog-body">
            <div class="login-dialog-content login">
                <div class="group login">
                    <form class="dialog-form login-form" method="post">
                        <div class="dialog-title">
                            <h3 class="fl"> 登录 </h3>
                        </div>
                        <div class="form-group">
                            <input type="text" name="account" autofocus="" ng-model="vm.username" required="" placeholder="邮箱/用户名">
                        </div>

                        <div class="form-group">
                            <input type="password" name="password" ng-model="vm.password" required="" placeholder="输入密码">
                            <a href="//tuchong.com/account/forget/" target="_blank" class="input-tips forget-password">忘记密码？</a>
                        </div>
                        <div class="form-group form-msg">
                        </div>
                        <div class="form-group text-center">
                            <button class="submit-btn" ng-click="vm.login($event)">
                                登录
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <a class="dialog-close icon-close" ng-click="vm.cancel()"></a>
    </div>
</div>
