<header class="need-fixed">
    <nav class="nav-wide">
        <div class="nav-left">
            <a ui-sref="home" class="navLogo">
                <img src="content/images/camera.png"/>
                <span>图享网</span>
            </a>
            <ul class="supnav-list">
                <li class="supnav-item">
                    <a ui-sref="home">首页</a>
                </li>
                <li class="supnav-item">
                    <a ui-sref-active="sss">教程</a>
                </li>
            </ul>
        </div>
        <div class="nav-right">
            <ul ng-show="vm.isAuthenticated" class="supnav-list">
                <li class="supnav-item nav-user subnav-trigger">
                    <a class="user-info" href="https://tuchong.com/2302829/">
                        <img src="https://s1.tuchong.com/sites/230/2302829/logo_small.jpg?1">
                        {{vm.account.login}}
                    </a>
                    <ul class="subnav-list">
                        <li>
                            <a ui-sref="user-posts">我的主页</a>
                        </li>
                        <li>
                            <a href="https://tuchong.com/settings">设置</a>
                        </li>
                        <li>
                            <a class="logout-trigger" ng-click="vm.logout();">退出</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <span ng-show="!vm.isAuthenticated" class="supnav-item">
                <a class="nav-login login-trigger" ng-click="vm.login()">登录</a>
                <a class="nav-register register-trigger" ng-click="vm.register()">注册</a>
            </span>
        </div>
    </nav>
</header>
