header .nav-wide {
    width: 100%;
    min-width: 800px;
    max-width: 1880px;
    padding: 0 40px;
    margin: 0 auto;
}

header.need-fixed {
    position: fixed;
    top: 0;
}

header {
    position: relative;
    min-width: 100%;
    height: 60px;
    margin: 0 auto;
    background-color: #000;
    font-weight: 500;
    z-index: 2;
}

header .nav-wide {
    width: 100%;
    min-width: 800px;
    max-width: 1880px;
    padding: 0 40px;
    margin: 0 auto;
}

header .nav-wide .nav-left {
    float: left;
    height: 60px;
    font-size: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.supnav-list .supnav-item > a:hover {
    color: #c99a05;
}

.supnav-list {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    margin-bottom: 0px !important;
}

header .nav-wide .nav-right {
    float: right;
    height: 60px;
}

header .nav-logo {
    display: inline-block;
    height: 20px;
    width: 80px;
    margin: 20px 0;
    background-image: url(https://s1.tuchong.com/content-image/201611/b11a3466c73176fc90cdea2ba0b16154.png);
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

.nav-left .supnav-item:first-child {
    margin-left: 34px;
}

.supnav-list .supnav-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}

.supnav-list {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    font-size: 0;
}

.supnav-list .supnav-item a {
    display: block;
    line-height: 60px;
    color: #fff;
    font-weight: 500;
}

.nav-left .supnav-item > a {
    padding: 0 26px;
    letter-spacing: 2px;
}

.supnav-list .subnav-list {
    position: absolute;
    top: 59px;
    z-index: 1;
    left: -20px;
    display: none;
    width: 120px;
    margin-top: 1px;
    line-height: 1;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    transition: opacity .5s ease;
    border-top: 10px solid rgba(0, 0, 0, 0);
}

.hot-posts ul, .hot-events ul {
    font-size: 0;
}

.posts-list .post-row:first-child {
    margin-top: 0;
}

.post-cover {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 14px;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
}

.post-cover .post-mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.post-cover .post-title {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    max-height: 50px;
    padding: 0 10px;
    margin: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 18px;
    color: #fff;
    overflow: hidden;
}

.post-cover .post-author-icon {
    position: absolute;
    left: 50%;
    bottom: 50px;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.post-cover .post-author-name {
    position: absolute;
    left: 50%;
    bottom: 20px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #fff;
}

ul, li, p {
    padding: 0;
    margin: 0;
    list-style: none;
}

.post-cover:hover .post-mask {
    z-index: 0;
}

.content {
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}

.posts-list .post-row {
    margin-top: 10px;
}

.hot-posts ul, .hot-events ul {
    font-size: 0;
}

.post-cover .leave-right {
    -webkit-animation: leave-right .3s ease-out;
    -moz-animation: leave-right .3s ease-out;
    animation: leave-right .3s ease-out;
}

.supnav-list .active {
    background-color: rgba(93, 195, 243, 0.45);
}

::-webkit-scrollbar {
    width: 0px;
}

button[disabled], html input[disabled] {
    cursor: default;
    cursor: not-allowed !important;
    box-shadow: none;
    opacity: .65;
}
.warning{
    color: #e60a05;
}
.success{
    color:green;
}
.container{
    padding:0 !important;
}
